form {
	background-color: #502F9A;
}

.btn.btn-primary.ml-4 {
	background-color: #6CF6F6;
	color: black;
}

.border-0 {
	height: 50px;
}

.rounded-left {
	width: 350px;
}

.rounded-right {
	width: 100px;
}

.d-block {
	color: white;
}

.m-auto.h-25.w-50 {
	background-color: white;
}

/*desktop*/
@media screen and (min-width: 960px) {
	
}

/*mobile*/
@media screen and (max-width: 960px) {

}